<div style="position:fixed">
    <!-- Left column --><br /><br /><br />
    <div style="align-content:center;" class="user-profile__avatar shadow-effect text-center">
        @{string path = "";
            if (Request.Cookies["Foto"] != null)
            {
                path = Request.Cookies["Foto"].Value;
            }}
        <img style="width:120px" class="img-responsive center-block" src="@path" alt="...">
        @HttpContext.Current.User.Identity.Name
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading"><a href="~/Registado/Index"><i class="fa fa-home"></i><strong> Página Inicial</strong></a></div>
        <div class="panel-body">
            <ul>
                <li><a href="~/Registado/Perfil"><i class="fa fa-user"></i> Perfil</a></li>
                <li><a href="~/Registado/Biblioteca"><i class="fa fa-book"></i> Biblioteca</a></li>
                <li><a href="~/Registado/Emprestimos"><i class="fa fa-share-square-o"></i> Empréstimos</a></li>
                <li><a href="~/Account/Logout"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>