<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8" />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Feed para Pirate Filmes HD &raquo;" href="http://www.piratefilmeshd.org/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Feed de comentários para Pirate Filmes HD &raquo;" href="http://www.piratefilmeshd.org/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Feed de comentários para Pirate Filmes HD &raquo; Esquadrão Suicida (2016) BluRay-Rip 720p e 1080p Dublado" href="http://www.piratefilmeshd.org/esquadrao-suicida-torrent-2016-bluray-rip-720p-e-1080p-dublado/feed/" />

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='cntctfrm_form_style-css' href='http://www.piratefilmeshd.org/wp-content/plugins/contact-form-plugin/css/form_style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='tie-style-css' href='http://www.piratefilmeshd.org/wp-content/themes/piratefilmeshd/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='tie-ilightbox-skin-css' href='http://www.piratefilmeshd.org/wp-content/themes/piratefilmeshd/css/ilightbox/dark-skin/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' id='Droid+Sans-css' href='http://fonts.googleapis.com/css?family=Droid+Sans%3Aregular%2C700' type='text/css' media='all' />
    <script type='text/javascript' src='http://www.piratefilmeshd.org/wp-includes/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='http://www.piratefilmeshd.org/wp-includes/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var ajax_tptn_tracker = {"ajax_url":"http:\/\/www.piratefilmeshd.org\/wp-admin\/admin-ajax.php","top_ten_nonce":"a206a1495d","top_ten_id":"4528","top_ten_blog_id":"1","activate_counter":"11","tptn_rnd":"1385516133"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://www.piratefilmeshd.org/wp-content/plugins/top-10/includes/js/top-10-tracker.js'></script>
    <link rel='https://api.w.org/' href='http://www.piratefilmeshd.org/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.piratefilmeshd.org/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.piratefilmeshd.org/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.6.1" />
    <link rel='shortlink' href='http://www.piratefilmeshd.org/?p=4528' />
    <link rel="alternate" type="application/json+oembed" href="http://www.piratefilmeshd.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.piratefilmeshd.org%2Fesquadrao-suicida-torrent-2016-bluray-rip-720p-e-1080p-dublado%2F" />
    <link rel="alternate" type="text/xml+oembed" href="http://www.piratefilmeshd.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.piratefilmeshd.org%2Fesquadrao-suicida-torrent-2016-bluray-rip-720p-e-1080p-dublado%2F&#038;format=xml" />
    <script type="text/javascript">
	window._wp_rp_static_base_url = 'https://rp.zemanta.com/static/';
	window._wp_rp_wp_ajax_url = "http://www.piratefilmeshd.org/wp-admin/admin-ajax.php";
	window._wp_rp_plugin_version = '3.6';
	window._wp_rp_post_id = '4528';
	window._wp_rp_num_rel_posts = '6';
	window._wp_rp_thumbnails = true;
	window._wp_rp_post_title = 'Esquadr%C3%A3o+Suicida+%282016%29+BluRay-Rip+720p+e+1080p+Dublado';
	window._wp_rp_post_tags = ['filmes+720p', 'filmes+1080p', 'fantasia', 'dublado', 'a%C3%A7%C3%A3o', '2016', 'filmes+torrent', 'el', '1080p', 'film', 'grupo', 'mundo', 'de', 'suicid', 'david', 'app', '720p', 'amanda', 'arsen', 'uma', 'mau', 'waller'];
    </script>
    <link rel="stylesheet" href="http://www.piratefilmeshd.org/wp-content/plugins/related-posts/static/themes/vertical-m.css?version=3.6" />
    <link rel="shortcut icon" href="http://www.piratefilmeshd.org/wp-content/uploads/2016/03/favicon.png" title="Favicon" />
    <!--[if IE]>
    <script type="text/javascript">jQuery(document).ready(function (){ jQuery(".menu-item").has("ul").children("a").attr("aria-haspopup", "true");});</script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://www.piratefilmeshd.org/wp-content/themes/piratefilmeshd/js/html5.js"></script>
    <script src="http://www.piratefilmeshd.org/wp-content/themes/piratefilmeshd/js/selectivizr-min.js"></script>
    <![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="http://www.piratefilmeshd.org/wp-content/themes/piratefilmeshd/css/ie9.css" />
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" media="all" href="http://www.piratefilmeshd.org/wp-content/themes/piratefilmeshd/css/ie8.css" />
    <![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="http://www.piratefilmeshd.org/wp-content/themes/piratefilmeshd/css/ie7.css" />
    <![endif]-->


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />



    <style type="text/css" media="screen">
        #main-nav,
        .cat-box-content,
        #sidebar .widget-container,
        .post-listing,
        #commentform {
            border-bottom-color: #4d4d4d;
        }

            .search-block .search-button,
            #topcontrol,
            #main-nav ul li.current-menu-item a,
            #main-nav ul li.current-menu-item a:hover,
            #main-nav ul li.current_page_parent a,
            #main-nav ul li.current_page_parent a:hover,
            #main-nav ul li.current-menu-parent a,
            #main-nav ul li.current-menu-parent a:hover,
            #main-nav ul li.current-page-ancestor a,
            #main-nav ul li.current-page-ancestor a:hover,
            .pagination span.current,
            .share-post span.share-text,
            .flex-control-paging li a.flex-active,
            .ei-slider-thumbs li.ei-slider-element,
            .review-percentage .review-item span span,
            .review-final-score,
            .button,
            a.button,
            a.more-link,
            #main-content input[type="submit"],
            .form-submit #submit,
            #login-form .login-button,
            .widget-feedburner .feedburner-subscribe,
            input[type="submit"],
            #buddypress button,
            #buddypress a.button,
            #buddypress input[type=submit],
            #buddypress input[type=reset],
            #buddypress ul.button-nav li a,
            #buddypress div.generic-button a,
            #buddypress .comment-reply-link,
            #buddypress div.item-list-tabs ul li a span,
            #buddypress div.item-list-tabs ul li.selected a,
            #buddypress div.item-list-tabs ul li.current a,
            #buddypress #members-directory-form div.item-list-tabs ul li.selected span,
            #members-list-options a.selected,
            #groups-list-options a.selected,
            body.dark-skin #buddypress div.item-list-tabs ul li a span,
            body.dark-skin #buddypress div.item-list-tabs ul li.selected a,
            body.dark-skin #buddypress div.item-list-tabs ul li.current a,
            body.dark-skin #members-list-options a.selected,
            body.dark-skin #groups-list-options a.selected,
            .search-block-large .search-button,
            #featured-posts .flex-next:hover,
            #featured-posts .flex-prev:hover,
            a.tie-cart span.shooping-count,
            .woocommerce span.onsale,
            .woocommerce-page span.onsale,
            .woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
            .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle,
            #check-also-close,
            a.post-slideshow-next,
            a.post-slideshow-prev,
            .widget_price_filter .ui-slider .ui-slider-handle,
            .quantity .minus:hover,
            .quantity .plus:hover,
            .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
            #reading-position-indicator {
                background-color: #4d4d4d;
            }

        ::-webkit-scrollbar-thumb {
            background-color: #4d4d4d !important;
        }

        #theme-footer,
        #theme-header,
        .top-nav ul li.current-menu-item:before,
        #main-nav .menu-sub-content,
        #main-nav ul ul,
        #check-also-box {
            border-top-color: #4d4d4d;
        }

        .search-block:after {
            border-right-color: #4d4d4d;
        }

        body.rtl .search-block:after {
            border-left-color: #4d4d4d;
        }

        #main-nav ul > li.menu-item-has-children:hover > a:after,
        #main-nav ul > li.mega-menu:hover > a:after {
            border-color: transparent transparent #4d4d4d;
        }

        .widget.timeline-posts li a:hover,
        .widget.timeline-posts li a:hover span.tie-date {
            color: #4d4d4d;
        }

            .widget.timeline-posts li a:hover span.tie-date:before {
                background: #4d4d4d;
                border-color: #4d4d4d;
            }

        #order_review,
        #order_review_heading {
            border-color: #4d4d4d;
        }


        body {
            background-color: #575757 !important;
            background-position: top center;
        }

        a:hover {
            color: #808080;
        }

        body.single .post .entry a, body.page .post .entry a {
            color: #0511fa;
        }

        #theme-header {
            background-color: #ffffff !important;
        }
    </style>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62317966-7', 'auto');
  ga('send', 'pageview');

    </script>
    <script type="text/javascript" data-cfasync="false">
(function(){ dm_title = "Esquadrão Suicida (2016) BluRay-Rip 720p e 1080p Dublado";dm_protect_video = 0;
var o = document.createElement("script"); o.async = true; o.setAttribute("data-cfasync", false); o.src = document.location.protocol+"//cdn3.flashget.org/dm/3/208/"
var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(o, s); }());
    </script>
</head>
<body id="top" class="single single-post postid-4528 single-format-standard lazy-enabled">

    <div class="wrapper-outer">

        <div class="background-cover"></div>

        <aside id="slide-out">

            <div class="search-mobile">
                <form method="get" id="searchform-mobile" action="http://www.piratefilmeshd.org/">
                    <button class="search-button" type="submit" value="Pesquisar"><i class="fa fa-search"></i></button>
                    <input type="text" id="s-mobile" name="s" title="Pesquisar" value="Pesquisar" onfocus="if (this.value == 'Pesquisar') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Pesquisar';}" />
                </form>
            </div><!-- .search-mobile /-->

            <div class="social-icons">
                <a class="ttip-none" title="Rss" href="http://www.piratefilmeshd.org/feed/" target="_blank"><i class="fa fa-rss"></i></a>
            </div>


            <div id="mobile-menu"></div>
        </aside><!-- #slide-out /-->

        <div id="wrapper" class="boxed-all">
            <div class="inner-wrapper">

                <div id="main-content" class="container">
                    <div class="content">
                        <article class="post-listing post-4528 post type-post status-publish format-standard hentry category-26 category-acao category-dublado category-fantasia category-1080p category-720p category-filmes-torrent" id="the-post">

                            <div class="post-inner">
                                <div class="clear"></div>

                                <div class="entry">


                                    <p>
                                        <img class="alignleft tie-appear" src="~/Content/Imagens/Livros/10.jpg" width="174" height="270" border="0" /><br />
                                        <strong>Título:</strong> Livro 1<br />
                                        <strong>Servidor:</strong> Torrent<br />
                                        <strong>Lançamento no Brasil:</strong> 2016<br />
                                        <strong>Gênero:</strong> Ação, Fantasia<br />
                                        <strong>Duração:</strong> 2h 03 Min.<br />
                                        <strong>Diretor:</strong> David Ayer<br />
                                        <strong>Tamanho:</strong> 990 MB | 1.8 GB<br />
                                        <strong>Qualidade:</strong> BluRay-Rip 720p e 1080p (BRRip)<br />
                                        <strong>Formato:</strong> MKV<br />
                                        <strong>Idioma:</strong> Português, Inglês (Dublado)<br />
                                        <strong>Legenda:</strong> Português<br />
                                        <strong>Nota IMDB:</strong> 6,7<br />
                                        <span id="more-4528"></span><strong>Sinopse:</strong> <strong>Download Filme Esquadrão Suicida Torrent Dublado</strong> &#8211; É tão boa a sensação de ser mau … Montar uma equipe com os mais perigosos, encarcerados super-vilões do mundo, fornecer-lhes o arsenal mais poderoso do governo, e enviá-los em uma missão para derrotar uma entidade insuperável e enigmática. A oficial de inteligência dos EUA, Amanda Waller, escolheu apenas um grupo secretamente convocado de indivíduos desprezíveis com quase nada a perder. No entanto, uma vez que eles percebem que não foram escolhidos para vencer, mas escolhidos por sua culpa quando eles inevitavelmente falharem, será que o Esquadrão Suicida vai morrer tentando, ou decidir que é cada um por si?
                                    </p>
                                <div class="clear"></div>
                            </div><!-- .post-inner -->
                        </article><!-- .post-listing -->
                    </div><!-- .content -->
                    <aside id="sidebar">
                        <div class="theiaStickySidebar">
                            <div id="search-2" class="widget widget_search">
                                <div class="widget-top"></div>
                                <div class="widget-container">
                                    <form role="search" method="get" class="search-form" action="http://www.piratefilmeshd.org/">
                                        <label>
                                            <span class="screen-reader-text">Pesquisar por:</span>
                                            <input type="search" class="search-field" placeholder="Pesquisar livro &hellip;" value="" name="s" />
                                        </label>
                                        <input type="submit" class="search-submit" value="Pesquisar" />
                                    </form>
                                </div>
                            </div><!-- .widget /--><div id="nav_menu-2" class="widget widget_nav_menu">
                            </div>
                            </div><!-- .widget /-->
                    </aside><!-- #sidebar /-->	<div class="clear"></div>
                </div><!-- .container /-->

                @*#footer-widget-area -->*@
                <div class="clear"></div>
                </footer><!-- .Footer /-->

                <div class="clear"></div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="alignright">
                            <a href="~/Views/Home/Index.cshtml" target="_blank" rel="dofollow">MyBookList</a> © Compra e Emprestimo de Livros - <a href="~/Views/Home/Index.cshtml" target="_blank" rel="dofollow">Página Inicial</a> | <a href="http://www.piratefilmeshd.org/contato" target="_blank">Contatos</a>
                        </div>


                        <div class="clear"></div>
                    </div><!-- .Container -->
                </div><!-- .Footer bottom -->



    </div><!-- .Wrapper-outer -->
    <div id="topcontrol" class="fa fa-angle-up" title="Voltar para o top!"></div>
    <div id="fb-root"></div>
</body>
</html>