
@{
    ViewBag.Title = "Termos";
}

<div id="content" role="main">
    <h2>Termos e condições</h2>
    <p> As imagens associadas aos produtos são apenas exemplificativas e não constituem um contrato, podendo não representar exatamente o produto em causa, mas similares ou da mesma categoria. </p>

    <p>     Qualquer dado constante do presente site assume natureza meramente informativa, não constituindo, independentemente da forma que revista, conselhos ou recomendações de compra ou contratação.</p>

    <p>     O utilizador/cliente assume todos os riscos resultantes da utilização da informação a que tem acesso no presente site, sendo único e exclusivo responsável por todas as decisões tomadas com base na mesma.</p>

    <p>     O utilizador/cliente compromete-se a utilizar a informação a que tem acesso para fins exclusivamente privados.</p>

    <p>     O utilizador/cliente reconhece que a informação disponibilizada constitui uma criação intelectual, bem como que a obtenção, verificação e apresentação do conteúdo da informação envolve um investimento substancial, a nível de recursos humanos, técnicos e financeiros, por parte da MyBooksList, Lda. ou de entidades terceiras que prestam à MyBooksList os mesmos.</p>

    <p>     O utilizador/cliente reconhece que a informação, bem como as bases de dados a que tem acesso, constitui propriedade intelectual da MyBooksList, ou de entidades terceiras, comprometendo-se a abster-se da prática de qualquer ato que, nos termos da legislação aplicável, possa constituir uma violação dos direitos de que a MyBooksList ou tais entidades, consoante o caso, sejam titulares.</p>

    <p>     O utilizador/cliente não se encontra autorizado a, seja em que circunstância for e seja por que meio for, armazenar, copiar, reproduzir, alterar, distribuir, vender ou de qualquer modo tornar acessível a terceiros a informação a que tem acesso no âmbito da presente utilização, salvo se para fins exclusivamente privados e de forma gratuita. O utilizador/cliente é o único e exclusivo responsável pela utilização indevida da informação a que tem acesso no âmbito do presente site.</p>

    <p>     O utilizador/cliente reconhece os direitos de propriedade intelectual da MyBooksList sobre os conteúdos / elementos do site que não provenham de terceiros, como tal identificados, incluindo o desenho gráfico da página, os textos, imagens, gráficos, logótipos, domínios e marcas, não se encontrando o utilizador/cliente autorizado a reproduzir, copiar, alterar, divulgar ou, em geral, a praticar qualquer ato que, nos termos da legislação aplicável, constitua uma violação dos direitos de que a MyBooksList é titular.</p>

    <p>     A MyBooksList não se responsabiliza por qualquer atraso, suspensão ou interrupção na transmissão da informação constante deste site, resultante de circunstâncias alheias ao seu controlo.</p>

    <p>     Todas as informações do site, nomeadamente disponibilidade e preços dos produtos, podem ser alterados sem aviso prévio.</p>

    <p>     A MyBooksList não é responsável, perante o utilizador/cliente ou perante terceiros, por qualquer custo, despesa, prejuízo ou perda, independentemente da sua natureza, resultante; de qualquer inexatidão, erro, omissão, deficiência dos dados ou de qualquer informação facultada através do presente site, de atrasos ou interrupções no fornecimento dos dados ou de qualquer informação facultada através do presente site, de qualquer decisão tomada ou ação empreendida pelo utilizador/cliente ou por terceiros com base na informação facultada através do presente site, ainda que esta seja inexata ou incorreta. O utilizador/cliente compromete-se a reembolsar MyBooksList de qualquer quantia por estes despendida em virtude de pretensão formulada a este respeito por parte de terceiros.</p>

    <p>     A MyBooksList utiliza cookies na navegação no site. A inibição, por parte do utilizador/cliente, da utilização de cookies, pode constituir um obstáculo à navegação e ao correto processo de encomenda.</p>

    <p>     O utilizador/cliente é responsável por qualquer custo, despesa, prejuízo ou perda, independentemente da sua natureza, suportado pela MyBooksList em virtude do incumprimento por parte do utilizador/cliente dos presentes “Termos e Condições”.</p>

</div>