@model MyBookList.Models.Utilizador

@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div style="text-align:center; border: 3px solid black;" class="col-sm-8">
    <p>Olá @Model.Username,</p>
    <br />
    <p>Uma confirmação de email foi enviada para "@Model.ContactoEmail".</p>
    <p>Para começar a usar a sua conta da MyBookList,</p>
    <p>basta confirmar o seu email carregando no link disposto no mesmo.</p>
    <br />
    <p>Obrigado e Bemvindo à MyBookList!!! </p>
</div>

<br />
<br />

<div style="text-align:end;" class="col-sm-8">
    <br />
    @Html.ActionLink("Ir para o site.", "Index", "Utilizador")
</div>