@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <br />
    <br />
    <div style="text-align:center; border: 3px solid black;" class="col-sm-8">
        <br />
        <p>Uma email de recuperação de conta foi enviado para o seu email.</p>
        <p>Siga as instruções no email para recuperar a sua password</p>
        <br />
        <p>Esperamos voltar a vê-lo na MyBookList!</p>
    </div>
</div>

<br />
<br />

<div>
    @Html.ActionLink("Voltar à página inicial.", "Index", "Home")
</div>